$screenColor: rgb(65, 65, 65);
$borderColor: rgb(30, 30, 30);
$numberColor: rgb(165, 165, 165);

@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

@font-face {font-family: "DS-Digital"; src: url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.eot"); src: url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.woff") format("woff"), url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.svg#DS-Digital") format("svg"); }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.Calculator {
  height: 500px;
  width: 350px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 12px 12px 15px 10px rgba(0, 0, 0, 0.5);
}

.Display {
  font-family: DS-Digital;
  height: 30%;
  background: $screenColor;
}

.Buttons {
  font-family: 'DM Mono', monospace;
  font-size: 1.8rem;
  height: 70%;
  color: #fff;
  display: grid;
  grid: repeat(5, 1fr) / repeat(4, 1fr);
}

.Button {
  width: auto;
  height: auto;
  border-bottom: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  background: rgb(110, 110, 110);
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
  &:hover {
    font-size: 2rem;
    border: none;
    outline: 1px solid white;
    z-index: 2;
  }
  &:active {
    font-size: 2rem;
    color: black;
    background: rgb(225, 225, 225) !important;
  }
}

.Footnote {
  position: relative;
  top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(70, 70, 70);
  & a {
    color: inherit;
    text-decoration: none;
  }
}

#zero {
  grid-column: 1 / 3;
}

#clear {
  background: rgb(160, 35, 35);
}

#equals {
  background: rgb(210, 130, 35);
}

#zero, #decimal, #equals {
  border-bottom: none;
}

#divide, #multiply, #subtract, #add, #equals {
  border-right: none;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #decimal {
  background: $numberColor;
}
